@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 16px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: hsla(240, 22%, 7%, 0.089);
  scroll-behavior: smooth;
}

.App {
  z-index: 1;
  background-color: #0e0e1727;
  position: absolute;
}


/* NAVIGATION BAR STYLING STARTS  */

.navbar {
  z-index: 2;
  width: 50%;
  margin: auto;
  height: 4rem;
  background-color: #212428;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
    top: 0;
  border-radius: 15px 50px;
}

.navbar a{
  padding: 0 2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.363)
}

.navbar a:hover{
  color: rgba(11, 55, 105, 0.705);
}





/* NAVIGATION STYLING ENDS HERE */


/* DASHBOARD STYLING STARTS */

.dashboard {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard--container {
  width: 90%;
  margin: auto;
  display: flex;
}

.about--me,
.about--picture {
  width: 50%;
  /* padding: 20px */
}

.about--me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  line-height: 2rem;
  color: white;
  font-size: 2rem;
  font-weight: 100;
}



.about--me .name b {
  font: 400 120% "Quattrocento Sans";
  color: #fee;
  text-shadow: -6px -3px 14px, 0 0 2px, 0 0 6em #ff4444bd, 2px 3px 0.5em #ff4444, 0 0 0.1em #ff4444c4, -1px 4px 3px #000;
  line-height: 5rem;
}

.about--me .name b span {
  animation: blink linear infinite 2s;
}

.about--me .name b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #302f2f;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #383838;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #313131;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.about--picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about--picture img {
  width: 70%;
  object-fit: fill;
}

/* download resume styling starts */

.download--resume .wrapper{
  width: fit-content;
  height:auto;
  text-decoration: none;
  margin: 2rem 0;
}

.download--resume button{
  width:200px;
  height:70px;
  background: linear-gradient(to left top, #392e9f63 50%, #6f7dcb7a 40%);
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.download--resume button span{
  position: absolute;
  display: block;
}
.download--resume button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
.download--resume button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
.download--resume button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.download--resume button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

.download--resume button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.download--resume button:hover span{
  animation-play-state: paused;
}

/* download resume styling ends */



/* Media Queries 1200, 800, 500, 300 */

@media screen and (max-width: 1200px) {


  .about--me {
    padding-left: 0;
    padding: 30px;
    font-size: 1.5rem;
  }

  .about--me .name b {
    font: 400 100% "Quattrocento Sans";
  }

  .about--picture img {
    margin: unset;
  }

  .contactUs__container{
    flex-direction: column;
    align-items: center;
  }

  .contactUs__card{
    width: 80%;
    height: auto;
  }
  
  .contactUs__form{
    width: 80%;
    height: auto;
    border: 1px solid white;
    margin: 4rem 0;
  }

}

@media screen and (max-width: 800px) {


  .about--me {
    padding-left: 0;
    padding: 30px;
    font-size: 1.3rem;
  }

  .about--me .name b {
    font: 400 100% "Quattrocento Sans";
  }

  .about--picture img {
    margin: unset;
  }
}

@media screen and (max-width: 550px) {
  .dashboard--container {
    flex-direction: column;
  }

  .about--me,
  .about--picture {
    width: 100%;
  }

  .about--me {
    font-size: 1.2;
    padding-left: 0;
    /* padding: 30px; */
  }

  .about--me .name b {
    font: 400 80% "Quattrocento Sans";
  }

  .about--picture img {
    margin: unset;
  }

  .connect--with--me {
    margin-top: 2rem;
  }

  .navbar {
    height: 3rem;
  }
}



/* DASHBOARD STYLING ENDS  */


/* SKILLS STYLING STARTS */

.skills--dashboard {
  height: auto;
  margin: 1rem 0;
}

.skills {
  height: auto;
  width: 80%;
  margin: auto;
  color: rgba(255, 255, 255, 0.89);
  /* background-color: #00000083; */
}

.skills--title {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: bolder;
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #201e1e83;
  padding: 2rem 0;
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 3em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 8;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: white;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow-html {
  filter: drop-shadow(0 0 5px #ff6633);
}

.shadow-css {
  filter: drop-shadow(0 0 5px #33bbff);
}

.shadow-js {
  filter: drop-shadow(0 0 5px #ff33ff);
}

.shadow-react {
  filter: drop-shadow(0 0 5px #ffff33);
}

.shadow-node {
  filter: drop-shadow(0 0 5px #3377ff);
}

.shadow-ts {
  filter: drop-shadow(0 0 5px #55ff33);
}

.shadow-github {
  filter: drop-shadow(0 0 5px #33ffff);
}

.shadow-python {
  filter: drop-shadow(0 0 5px #ff3333);
}

.circle-html {
  -webkit-animation: anim_circle-html 2s ease-in-out forwards;
  animation: anim_circle-html 2s ease-in-out forwards;
}

.circle-css {
  -webkit-animation: anim_circle-css 2s ease-in-out forwards;
  animation: anim_circle-css 2s ease-in-out forwards;
}

.circle-js {
  -webkit-animation: anim_circle-scss 2s ease-in-out forwards;
  animation: anim_circle-scss 2s ease-in-out forwards;
}

.circle-react {
  -webkit-animation: anim_circle-js 2s ease-in-out forwards;
  animation: anim_circle-js 2s ease-in-out forwards;
}

.circle-node {
  -webkit-animation: anim_circle-ts 2s ease-in-out forwards;
  animation: anim_circle-ts 1s ease-in-out forwards;
}

.circle-ts {
  -webkit-animation: anim_circle-node 2s ease-in-out forwards;
  animation: anim_circle-node 1s ease-in-out forwards;
}

.circle-github {
  -webkit-animation: anim_circle-react 2s ease-in-out forwards;
  animation: anim_circle-react 2s ease-in-out forwards;
}

.circle-python {
  -webkit-animation: anim_circle-angular 2s ease-in-out forwards;
  animation: anim_circle-angular 2s ease-in-out forwards;
}


.progressbar__text {
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.progressbar__percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 1.5rem;
}

@-webkit-keyframes anim_circle-html {
  to {
    stroke-dashoffset: 78;
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: 78;
  }
}

@-webkit-keyframes anim_circle-css {
  to {
    stroke-dashoffset: 66;
  }
}

@keyframes anim_circle-css {
  to {
    stroke-dashoffset: 66;
  }
}

@-webkit-keyframes anim_circle-js {
  to {
    stroke-dashoffset: 132;
  }
}

@keyframes anim_circle-js {
  to {
    stroke-dashoffset: 132;
  }
}

@-webkit-keyframes anim_circle-react {
  to {
    stroke-dashoffset: 88;
  }
}

@keyframes anim_circle-react {
  to {
    stroke-dashoffset: 88;
  }
}

@-webkit-keyframes anim_circle-node {
  to {
    stroke-dashoffset: 198;
  }
}

@keyframes anim_circle-node {
  to {
    stroke-dashoffset: 198;
  }
}

@-webkit-keyframes anim_circle-ts {
  to {
    stroke-dashoffset: 308;
  }
}

@keyframes anim_circle-ts {
  to {
    stroke-dashoffset: 308;
  }
}

@-webkit-keyframes anim_circle-github {
  to {
    stroke-dashoffset: 387.2;
  }
}

@keyframes anim_circle-github {
  to {
    stroke-dashoffset: 387.2;
  }
}

@-webkit-keyframes anim_circle-python {
  to {
    stroke-dashoffset: 418;
  }
}

@keyframes anim_circle-python {
  to {
    stroke-dashoffset: 418;
  }
}

/* SKILLS STYLING ENDS */



/* PROJECT STYLING STARTS */

.project--container {
  margin: 15rem 0;
  height: auto;
}

.project--title{
  font-size: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.842);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}


.card-hover {
  min-width: 300px;
  height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
}

.card-hover:has(.card-hover__link:hover){
  transform: translateY(0);
  transition: transform 0.35s;
}

.card-hover:hover .card-hover__content {
  background-color: #DEE8C2;
  bottom: 100%;
  transform: translateY(100%);
  padding: 50px 60px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover .card-hover__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  cursor: pointer;
}

.card-hover:hover img {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content {
  text-align: center;
  width: 100%;
  background-color: #86B971;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
}

.card-hover__content::before,
.card-hover__content::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}

.card-hover__content::before {
  top: -80px;
  -webkit-clip-path: ellipse(60% 80px at bottom center);
  clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
  bottom: -80px;
  -webkit-clip-path: ellipse(60% 80px at top center);
  clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.card-hover__title span {
  color: #2d7f0b;
}

.card-hover__text ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-hover__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #2d7f0b;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}

.card-hover__link span:hover{
  color: rgba(0, 0, 0, 0.712);
  transform: scale(1.2);
}



.card-hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

/* PROJECT STYLING ENDS */



/* CONTACT US STYLING STARTS */

/* footer {
  margin: 4rem 0 0 0;
  height: 10rem;
  background-color: rgba(7, 7, 7, 0.363);
  color: white;
  box-shadow: 0 -5px 5px -5px #333;
} */

.contact__us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__us h3{
  color: rgba(255, 0, 0, 0.733);
}

.contact__us h1{
  color: rgba(255, 255, 255, 0.699);
  font-size: 2rem;
}

.contactUs__container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.contactUs__card{
  width: 40%;
  border-radius: 1rem !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}

.contactUs__form{
  background-color: #171527e3;
  color: rgba(255, 255, 255, 0.842) !important;
  padding: 20px;
  width: 40%;
  border-radius: 1rem !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}




.contactUs__card__content .title{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .designation{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .connect__headline{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .email{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .find{
  color: rgba(255, 255, 255, 0.774);
}





.social__media .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.social__media .wrapper a {
  color: #000000;
}

.social__media .wrapper .icon {
  position: relative;
  background: #eeeeeea4;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(133, 21, 21, 0.76);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #3d2929bd, 0 0 0.5em #b69797, 0 0 0.1em #0f0909c4, 0 10px 3px #000;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: iconBlink infinite linear 3s;

}

@keyframes iconBlink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #302f2f;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #383838;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #313131;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.social__media .wrapper .tooltip {
  position: absolute;
  top: 10px;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__media .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__media .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social__media .wrapper .icon:hover span,
.social__media .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(11, 10, 54, 0.1);
}

.social__media .wrapper .discord:hover,
.social__media .wrapper .discord:hover .tooltip,
.social__media .wrapper .discord:hover .tooltip::before {
  background: #7289da;
  color: #ffffff;
}

.social__media .wrapper .twitter:hover,
.social__media .wrapper .twitter:hover .tooltip,
.social__media .wrapper .twitter:hover .tooltip::before {
  background: #1D9BF0;
  color: #ffffff;
}

.social__media .wrapper .instagram:hover,
.social__media .wrapper .instagram:hover .tooltip,
.social__media .wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

footer .wrapper .github:hover,
footer .wrapper .github:hover .tooltip,
footer .wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.social__media .wrapper .youtube:hover,
.social__media .wrapper .youtube:hover .tooltip,
.social__media .wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}




/* CONTACT US STYLING ENDS */