@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

.css-19kzrtu {
    padding: 24px;
  display: flex;
  /* align-content: space-around; */
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

body,
html {
  font-size: 16px;
  font-family: 'Manrope', sans-serif !important;
  background-color: hsla(240, 22%, 7%, 0.089);
  scroll-behavior: smooth;
}

.App {
  z-index: 1;
  background-color: #ffffff1e;
  position: absolute;
}


/* NAVIGATION BAR STYLING STARTS  */

.navbar {
  z-index: 2;
  width: 50%;
  margin: auto;
  height: 5rem;
  background-color: #212428;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
    top: 0;
  border-radius: 15px 50px;
}

.navbar a{
  margin: 0 3rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.363)
}

.navbar a:hover{
  color: rgba(178, 186, 196, 0.911);
}





/* NAVIGATION STYLING ENDS HERE */


/* DASHBOARD STYLING STARTS */


.dashboard {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard--container {
  width: 90%;
  margin: auto;
  display: flex;
}

.about--me,
.about--picture {
  width: 50%;
  /* padding: 20px */
}

.about--me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5rem;
  color: white;
  font-size: 2.8rem;
  font-weight: 100;
  margin: 0 30px;
}



.about--me .name {
  font: 400 4rem "Manrope";
  color: #fee;
  text-shadow: -6px -3px 14px, 0 0 2px, 0 0 6em #000000bd, 2px 3px 0.5em #2000a8, 0 0 0.1em #00244bc4, -1px 4px 3px #000;
  line-height: 5rem;
}


.about--picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about--picture img {
  width: 70%;
  object-fit: fill;
  border-radius: 50%;
}

/* download resume styling starts */

.download--resume .wrapper{
  width: fit-content;
  height:auto;
  text-decoration: none;
  margin: 2rem 0;
}

.download--resume button{
  width:200px;
  height:70px;
  background: linear-gradient(to left top, #392e9f63 50%, #6f7dcb7a 40%);
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.download--resume button span{
  position: absolute;
  display: block;
}
.download--resume button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
.download--resume button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
.download--resume button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.download--resume button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

.download--resume button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.download--resume button:hover span{
  animation-play-state: paused;
}

/* download resume styling ends */



/* Media Queries 1200, 800, 500, 300 */

@media screen and (max-width: 1200px) {


  .about--me {
    padding-left: 0;
    padding: 30px;
    font-size: 1.5rem;
  }

  .about--me .name b {
    font: 400 100% "Manrope";
  }

  .about--picture img {
    margin: unset;
  }

  .contactUs__container{
    flex-direction: column;
    align-items: center;
  }

  .contactUs__card{
    width: 80%;
    height: auto;
  }
  
  .contactUs__form{
    width: 80%;
    height: auto;
    border: 1px solid white;
    margin: 4rem 0;
  }

}

@media screen and (max-width: 800px) {


  .about--me {
    padding-left: 0;
    padding: 30px;
    font-size: 1.3rem;
  }

  .about--me .name b {
    font: 400 100% "Manrope";
  }

  .about--picture img {
    margin: unset;
  }

  .skills--title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {

  .dashboard--container {
    flex-direction: column;
  }

  .about--me,
  .about--picture {
    width: 100%;
  }

  .about--me {
    font-size: 1.2;
    padding-left: 0;
    margin-top: 5rem;
    text-align: center;
  }

  .download--resume{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about--me .name b {
    font: 400 80% "Manrope";
  }

  .about--picture img {
    margin: unset;
  }

  .connect--with--me {
    margin-top: 2rem;
  }

  .navbar {
    height: 3rem;
  }
}

@media screen and (max-width: 500px) {

  .container__progressbars{
    width: 100% !important;
    margin: auto;
  }

  .dashboard{
    margin: 3rem 0;
  }

  .dashboard--container {
    flex-direction: column;
  }

  .skills--dashboard{
    margin: 5rem 0;
  }

  .skills--title {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .projects{
    padding: 0 !important;
  }

  .card-hover {
    min-width: 250px;
    height: 400px;
  }
  

  .about--me,
  .about--picture {
    width: 100%;
  }

  .about--me {
    font-size: 1;
    padding-left: 0;
  }

  .about--me .name b {
    font: 400 60% "Manrope";
  }

  .about--picture img {
    margin: unset;
  }

  .connect--with--me {
    margin-top: 2rem;
  }

  .navbar {
    height: 3rem;
  }
}



/* DASHBOARD STYLING ENDS  */


/* SKILLS STYLING STARTS */

.skills--dashboard {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  height: auto;
  width: 90%;
  margin: auto;
  padding: 10px;
  color: rgba(255, 255, 255, 0.89);
  /* background-color: #00000083; */
}

.skills--title {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: bolder;
}

.container__progressbars {
  width:  100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #201e1e83; */
  padding: 2rem 0;
  gap: 2rem;
}

.skills__badge{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.skills__badge:hover{
  box-shadow: rgb(255 255 255) -9px 20px 60px -12px inset, rgb(255 255 255) -2px 1px 4px 0px;
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
  cursor: pointer;
}



/* SKILLS STYLING ENDS */



/* PROJECT STYLING STARTS */

.project--container {
  margin: 15rem 0;
  height: auto;
}

.project--title{
  font-size: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.842);
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}


.card-hover {
  min-width: 300px;
  height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
}

.card-hover:has(.card-hover__link:hover){
  transform: translateY(0);
  transition: transform 0.35s;
}

.card-hover:hover .card-hover__content {
  background-color: #20201f;
  bottom: 100%;
  transform: translateY(100%);
  padding: 50px 60px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  color: rgba(255, 255, 255, 0.863);
}

.card-hover:hover .card-hover__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  cursor: pointer;
}

.card-hover:hover img {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content {
  text-align: center;
  width: 100%;
  background-color: #000000;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
  color: rgba(255, 255, 255, 0.822);
}

.card-hover__content::before,
.card-hover__content::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}

.card-hover__content::before {
  top: -80px;
  -webkit-clip-path: ellipse(60% 80px at bottom center);
  clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
  bottom: -80px;
  -webkit-clip-path: ellipse(60% 80px at top center);
  clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.card-hover__title span {
  color: #2d7f0b;
}

.card-hover__text ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-hover__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #2d7f0b;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}

.card-hover__link span:hover{
  color: rgba(0, 0, 0, 0.712);
  transform: scale(1.2);
}



.card-hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

/* PROJECT STYLING ENDS */



/* CONTACT US STYLING STARTS */

/* footer {
  margin: 4rem 0 0 0;
  height: 10rem;
  background-color: rgba(7, 7, 7, 0.363);
  color: white;
  box-shadow: 0 -5px 5px -5px #333;
} */

.contact__us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__us h3{
  color: rgba(255, 0, 0, 0.733);
}

.contact__us h1{
  color: rgba(255, 255, 255, 0.699);
  font-size: 2rem;
}

.contactUs__container{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.contactUs__card{
  width: 40%;
  border-radius: 1rem !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}

.contactUs__form{
  background-color: #171527e3;
  color: rgba(255, 255, 255, 0.842) !important;
  padding: 20px;
  width: 40%;
  border-radius: 1rem !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}




.contactUs__card__content .title{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .designation{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .connect__headline{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .email{
  color: rgba(255, 255, 255, 0.774);
}

.contactUs__card__content .find{
  color: rgba(255, 255, 255, 0.774);
}





.social__media .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.social__media .wrapper a {
  color: #000000;
}

.social__media .wrapper .icon {
  position: relative;
  background: #eeeeeea4;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.social__media .wrapper .tooltip {
  position: absolute;
  top: 10px;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__media .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__media .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social__media .wrapper .icon:hover span,
.social__media .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(11, 10, 54, 0.1);
}

.social__media .wrapper .discord:hover,
.social__media .wrapper .discord:hover .tooltip,
.social__media .wrapper .discord:hover .tooltip::before {
  background: #7289da;
  color: #ffffff;
}

.social__media .wrapper .github:hover,
.social__media .wrapper .github:hover .tooltip,
foo.social__mediater .wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}





/* CONTACT US STYLING ENDS */
